.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/_private/
content/_attachments/
content/_inbox/
content/_trmplates/
content/.obsidian/
